@model IEnumerable<dsignelixir.Models.Album>
@{
    ViewBag.Title = "GraphicDesign";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="three-thirds">
    <center><img src="~/Images/graphic_design.png" class="scale-with-grid" /></center>
</div>
@foreach (var item in Model)
{
    
    <div class="five columns" style="text-align: center">
        <ul>
            <li>
                @*<span>@item.Description</span>*@
            </li>
            <li>
                @if (item.Images.Any())
                {
                   
                    <a class="fancybox"  rel="@item.Id"  href="@Url.Action("GetImage", "Images", new {id = item.Images.OrderBy(o=>o.OrderNumber).First().id})">
                        <<img src="~/Images/DEloager.png" data-original="@Url.Action("GetImage", "Albums", new {id = item.Id})" alt="Content Image" class="scale-with-grid" />
                    </a>
                     <span class="description">@item.Description</span>
                    foreach (var i in item.Images.OrderBy(o=>o.OrderNumber).Skip(1))
                    {
                        <a class="fancybox"  rel="@item.Id"  href="@Url.Action("GetImage", "Images", new {id = i.id})"></a>
                    }
                    
                }
                else
                {
                     <img src="~/Images/DEloager.png" data-original="@Url.Action("GetImage", "Albums", new {id = item.Id})" alt="Content Image" class="scale-with-grid" />
                }


            </li>
        </ul>
    </div>
    
    
}

